* {
    margin:0;
    padding:0;
}

.section-1, .footer {
    background-color: #004700;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary, a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #002900;
}

.section-3 {
    background-color: #e5e7eb;
}

.section-4, button {
    background-color: olivedrab;
}

blockquote {
    font-size: 36px;
    font-weight: 100px;
    font-style: italic;
    color: #1f2937;
}

a {
    text-decoration: none;
}